/* 
  .item-a {
    grid-area: header;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end:3;
   border: 2px solid black;
  }
  .item-b {
    grid-area: main;
  }
  .item-c {
    grid-area: sidebar;
  }
  .item-d {
    grid-area: footer;
    grid-area: 1 / col4-start / last-line / 6
  } */

  
/*   
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: [first] 15% [line2] 15% [line3] 5% [line4] 10% [line5] 25% [line6] 30%;
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
    justify-items: start;
    align-items: start;
    justify-content: start;
  } */

* {
    padding: 0;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 0.5fr 1.5fr 2fr;
    grid-template-rows: (5, minmax(200px, auto));
    max-width: 150vh;
    margin: 0 auto; 
    column-span: all;
}

.container > * {
    padding: 30px;
}

#container > *:nth-of-type(3n)  {
	border-right-width: 0;
}
#container > *:nth-of-type(n+7) {
	border-bottom-width: 0;
}

.col1 {
    background-image:
    linear-gradient(
      to right, 
      rgb(4, 59, 46), rgb(2,75,55)
    );
    /* background-color: rgb(2,75,55); */
}

.col2 {
    background-image:
    linear-gradient(
      to right, 
      rgb(6, 82, 45), rgb(1,137,71)
    );
    /* background-color: rgb(1,137,71); */
}

.col3 {
    background-image:
    linear-gradient(
      to right, 
      rgb(33, 41, 40), rgb(38,48,47)
    );
    /* background-color: rgb(38,48,47); */
}

.col4 {
    background-image:
    linear-gradient(
      to right, 
      rgb(54, 47, 65), rgb(74,64,89)
    );
    
    /* background-color: rgb(74,64,89); */
}

.col5 {
    background-image:
    linear-gradient(
      to right, 
      rgb(10, 80, 116), rgb(1,99,148)
    );
    
    /* background-color: rgb(1,99,148); */
}

.col6 {
    background-image:
    linear-gradient(
      to right, 
      rgb(5, 66, 110), rgb(1,78,132)
    );
    
    background-color:  rgb(1,78,132);
}

